
<!-- <h1 style="text-align: center; color: blue;">Angula</h1>
<hr/> -->

<!--  <state></state> 
 <hr/> 
  <district></district>
 <hr/>
<location></location>
 <hr/>  
 <job-type></job-type>
<hr/>
<job-seeker></job-seeker>  
<hr/>
<app-institute-type></app-institute-type>
 <hr/>
<app-education-board></app-education-board>
<hr/> -->
 <!-- <app-job-seeker-experience></app-job-seeker-experience>  -->


<!--============== Shashi Task ============-->
<!-- <job-seeker></job-seeker>--> 

 <!-- <app-job-seeker-skill></app-job-seeker-skill>   --> 

 <app-file-upload></app-file-upload>


